<table>
        <tr id='row_<%= order.id %>'>
                <td id = "product_<%=order.product.id%>" > <%= order.product.name %> </td>
                <td> <%= order.product.price %> </td>
                <td> <%= order.quantity %> </td>   
        </tr>
</table>

