= semantic_form_for [:admin, @product], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.input :name
    = f.input :images, as: :file, :input_html => { :multiple => true }
    = f.actions