
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>

<h1>New Product</h1>

  <%= render 'shared/jumbotron'%>

<%= render 'form', product: @product %>



  <div class="row">

    <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>
        <div class="col">
          <div class="card">
            <% if product.images.attached? %>
              <p>
              <strong>Image:</strong>
              <br>
              <%# (0..(product.images.count-1)).each do |image|%>
                <%= image_tag (product.images[0].variant(resize: "300x300")), class: 'card-img-top' %>
              <%# end %>
              </p>
            <% end %>
    
            <div class="card-body">
              <h5> <%= product.name %> </h5>
              <p> <%= product.price %> </p>
              <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn btn-success', method: :post  %>
              <%= link_to "Borrar producto", product_path(product), class: 'btn btn-danger', method: :delete  %>
              <%= link_to "detalle producto", product_path(product), class: 'btn btn-primary' %>
              
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px;"> </div>
    <% end %>

  </div>

